*{
  margin:0;
  padding: 0;
}
body{
  font-family: Raleway;
  font-weight: 200;
}
body a{
  text-decoration: none;
}
#landing{

/* Full height */
height: 100vh;
position: relative;

/* Center and scale the image nicely */

display: flex;
flex-direction: column;
justify-content: space-evenly;
align-items: center;
color: black;
}
.background-image{
  position: absolute;
  z-index: -1;
  width: 100%;
  height: 100%;
  background-image: url("../photos/computer.jpg");
  background-size: cover;
  opacity: 0.3;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
}
#title{
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  animation: 1s slidefade 1s forwards;
}


@keyframes slidefade {
100%{
  opacity: 1;
  margin: 0;
}
}

#landing nav{
  width: 80%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  opacity: 0;
  animation: 1s fadein 0.5s forwards;
}
@keyframes fadein {
  100%{
    opacity:1;
  }
}
@media screen and (max-width: 600px) {
  #landing nav{
    flex-direction: column;
    flex-grow: 1;
    max-height: 50%
  }
}




#landing nav a{
  flex: 1;
  color: black;
  text-decoration: none;
  font-size: 2em;
  font-family: Raleway;
  border: none;
  text-align: center;
}
#landing nav a:hover{
  text-decoration: underline;
}


#title h1{
  font-size: 4em;
}
@media screen and (max-width: 600px) {
  #title h1{
    font-size: 2em;
  }
  #courses li{
    font-size: 1em;
  }
  #courses ul{
    align-items: baseline;
  }
}

.icons {
  display: flex;
  width: 30%;
  justify-content: space-around;
  list-style-type: none;
}
.icons a{
  color: black;
  font-size: 2em;
}
#section-a{
  background-color: #f1f1f1;
}
.box-header{
  font-size: 2.5em;
  text-align: center;
  margin: auto;
}
#about p{
  text-align: center;
  width: 90%;
  margin: auto;
  font-size: 1.25em;
  line-height: 2
}
#courses,#projects, #skills{
  padding: 2em 0 2em 0;
}
.box ul{
  list-style-type: none;
  display: flex;
  justify-content: space-evenly;
  width: 80%;
  padding-top: 10px;
  margin: auto;
  flex-wrap: wrap;
}
.box li{
  flex: 1;
  padding: 10px;
  font-size: 1.5em;
  color: black;
  text-align: center;
}
.box a{
  color: black;
}
.box a:hover{
  text-decoration: underline;
}
#about, .b2{
  background-color: #f1f1f1;
}
